{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!-- Place your view title -->
    <title>WSY YL</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
</head>

<body class="is-preload" style="text-align: center;">
    <img style="height: 100vh;" src="{% static 'images/wsyyl.jpg' %}" alt="" />


    <!-- Scripts -->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/browser.min.js' %}"></script>
    <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>