{% load static %}
    <!-- Header -->
    {% comment %} <header id="header">
     <strong>Blog created and maintained by Yongliang. All written stuff credit to homo sapiens before me.</strong>
    </header> {% endcomment %}
    <!-- Top Section Content -->
    <section>
      <span class="image main"><img src="{% static 'images/banner1.jpg' %}" alt="" /></span>
      <p>Blog created and maintained by Yongliang. All written stuff credit to Homo sapiens before me.</p>
      <hr class="major" />
    </section>
